.League div {
    display: inline-block;
    border-radius: 0.3px;
    border-color: black;
    border-style: solid;

}
.LeagueDisplay div {
    width: 100%;
    color:blue;
    border:none;
}

.ValidationButton div {
    width: 100%;
    color:blue;
    border:none;
}

.MatchSuggestions div {
    display:block;
}

Grid {
    display:block;
}

ListGroupItem {
    margin-left: auto;
    margin-right: auto;
}