.User div {
    display: inline-block;
}

.row {
    width : 100%;
    
} 

.col-md {
    width : 55%;
    padding : 0.5px;
}

.UserDisplay div {
    width: 100%;
    color:blue;
    border:none;
}

.ValidationButton div {
    width: 100%;
    color:blue;
    border:none;
}

.LeagueListe div {
    display: inline-block;
    width: 30%;
    color:lightblue;
}

